.root{
    -fx-font-size: 14px;
}


.label_title {
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-font-weight: 500;
}

#vbPre
{
    -fx-background-image: url("background3.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1100 650;
    -fx-background-position: center center;
}

#browserCSS
{
    -fx-pref-width: 400px;
    -fx-pref-height: 300px;

}

.label_subtitle {
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: 500;
    -fx-underline: true;
    -fx-font-style: italic;
}

.client_menu_buttons {
    -fx-pref-width: 200px;
}

.hbox_left {
    -fx-background-color: white;
}

.hbox_middle {

}

.hbox_right {
    -fx-background-color: white;
}

.anchorpane_color {
    -fx-background-color: #e8e8e8;
}

.label_padding, .checkbox_padding{
    -fx-padding: 20, 0, 20, 0;
}

.checkbox_padding {
    -fx-padding: 10, 0, 10, 0;
    -fx-min-width: 200px;
}

#text-area *.text {
    -fx-text-alignment: center;
}

.label_padding{
    -fx-padding: 12, 0, 0, 0;
}